body{
 margin: 0px;
 padding: 0px;
 background-color:LightGray ;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
    margin-left: 28px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    margin-bottom: 30px;
}
.sideNav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #d8d8d8;
    display: block;
  }
  .sideNav a:hover {
    color: #f1f1f1;
    background-color:#2c1ed6;
  }
.sideNav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E90FF;
    overflow: hidden;
    padding-top: 30px;
    transition: ease-in-out 0.3s;
  }
  
  .menu{
    float: right;
    margin-right: 20px;
    cursor: pointer;
  }
  .logo1{
    margin: 0px;
    margin-left: 20px;
      font-weight: bold;
      color: white;
      margin-bottom: 50px;
      display: none;
      cursor: pointer;
  }
  .menu1{
    float: left;
    display: none;
  }
  .sideNav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #d8d8d8;
    display: block;
  }
  .sideNav a:hover {
    color: #f1f1f1;
    background-color:#2c1ed6;
  }
  .sideNav{
   
    top: 0;
    right: 25px;
    font-size: 30px;
  }
  #main {
    padding: 16px;
    margin-left: 300px;
  }
  .head{
      padding: 0px 6px;
      border-bottom: 2px solid #2c1ed6;
      padding-bottom: 10px;
      background-color: white;
  }
  .col-div-6{
    width: 50%;
    float: left;
  }
  .profile{
   
    float: right;
    width: 150px;
    padding-right: 1.6em;
  
  
  }
  .pro-img{
      float: left;
      width: 50px;
      margin-top: 15px;
      margin-left: 10px;
      margin-right: 10px;
  }
  .profile a{
      color: #2c1ed6;
    padding: 40px 10px  20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding-left: 35px;
    font-size: 1.5em;
    font-family: monospace;
    font-weight: bolder;
    transform: 0.5s;
    position: relative;
  
    z-index: 3
  }
 
  .dots{
    margin-left: 10px;
  
  }
  .profile-div{
    background-color: white;
    width: 140px;
    border: 1px solid #ddd;
    padding: 10px 0px;
    right: 2%;
    border-radius: 5px;
    position: absolute;
    z-index: 9;
    display: none;
  
  }
  .profile-div:after{
      content: '';
      position: absolute;
      height: 10px;
      width: 10px;
      background-color: white;
      top: -6px;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      transform: rotate(45deg);
      right: 10%;
  }
  .profile-div p{
    margin: 0px;
      padding: 10px 20px;
  }
  .profile-div p:hover{
    margin: 0px;
      padding: 10px 20px;
      background-color: #5643ff;
      border-radius: 0px;
      color: white;
  }
  
 
  .hr{
    margin: 0px;
    border: none;
    background-color: #ddd;
    height: 1px;

  
  }
  .sec{
    font-size: 30px;
    color: #2c1ed6;

  }
  
  .col-div-4-1{
    width: 33.3%;
    float: left;
  }
  .box{
    width: 88%;
    height: 130px;
    background-color: #ffffff;
    margin-left: 10px;
    padding:10px;
    box-shadow: 2px 5px 10px #ddd;
    position: relative;
  }
  .nav{
    font-size: 30px;
      cursor: pointer;
      color: #2c1ed6;
      margin: 11px 0px;
  }
  .col-div-4-1{
    width: 33.3%;
    float: left;
  }
  .imggg{
    text-align: center;
  }
  .imggg img{
    width: 60px;
    height: 60px;
    

  }
  .p1{
    color: #2c1ed6;
    font-size: 30px;
    text-align: center;
  }
  .p2{
    color: darkslategrey;
    font-size: 15px;
    text-align: center;
  }
  .box{
    width: 78%;
    height: 170px;
    margin-bottom: 30px;
    background-color: #ffffff;
    margin-left: 10px;
    padding:10px;
    box-shadow: 2px 5px 10px #ddd;
    position: relative;
  }
  .box p{
      
      font-weight: 500;
      padding-left: 10px;
  }
#main-div{
    background-color: aliceblue;
    border: 0px white solid;
    width: 600px;
    height: 500px;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 5px;
}
#login_details{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid black;
    height: 400px;
    width: 520px;
    background-color: white;
}


.landing{
  background-image: url("../img/his2.jpg");
  background-size: cover;
  height: calc(100vh - 60px);
  
  position: relative;
}

.landingTwo{
  /* background-image: url("../img/his.jpg"); */
  /* background-size: cover; */
  /* height: calc(100vh - 60px); */
  
  position: relative;
}

.heading{
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color:#0E273D;
  font-size: 3rem;
  letter-spacing: .4rem;
}

.heading span{
  text-transform: uppercase;
  color:var(--blue);
}


.navy {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;


}

.navy ul {
  float: right;
  height: 60px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-right: 45px;
}

.navy ul li a {
  padding: 40px 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 20 px;
  font-family: monospace;
  transform: 0.3s;
  position: relative;
  z-index: 3;


}

